*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body {
    background: #6d6d6d;
}
.header img {
    object-fit: cover;
    height: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: black;
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: rgb(207, 5, 5);
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
#submit:hover{
	background-color: #333333;
	transform: scale(1.05);
}
div p {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
select#department {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}